.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.button {
  width: 300px;
  height: 45px;
  border-radius: 25px;
  font-size: medium;
  font-weight: bold;
  border-width: 3px;
}

.b1 {
  background-color: black;
  border-color: white; 
  color: white;
}

.b2 {
  background-color: #29BF89;
  border-color: #29BF89;
  color: white
}

.b3 {
  background-color: white;
  border-color: white;
  color: #CFD8DC;
}

.b4 {
  background-color: black;
  border-color: #29BF89;
  color: #29BF89;
}